body.smart-style-6 .page-footer {
    background: rgba(0,0,0,.2);
}

.page-footer{
	margin:0px;
}
.treeView{
	margin;0px;
	margin-left: 20px;
}
#ss{
	width: auto;
	height:auto;
	min-width: 1145px;
	min-height: 750px;
}
